.one-quarter.column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
}

.content {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items:center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.row.option-box {
  padding-top: 5%;
}

.material-icons.logo {
  font-size: 100px;
  animation: shadow-pulse 5s infinite;
}

.ticker > .ticker-change {
  font-size: 20pt;
  /* color: green; */
}

.ticker-change > p {
  margin: 0;
}
.material-icons.ticker-change-icon {
  font-size: 60px;
  animation: shadow-pulse 2.5s infinite;
}

.continue-bar {
  text-align: center;
}

.ticker {
  list-style-type: none;
  margin-left: 25pt;
}

.ticker li {
  font-size: 10pt;
  margin-bottom: 0pt;
  width : 100px;
}

.ticker-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.ticker-symbol {
  margin: 0;
  font-size: 24pt;
  font-weight: bold;
}

.ticker-title {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

#github-logo {
  height: 40px;
}

html {
  scroll-behavior: smooth;
}

@keyframes shadow-pulse {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .flex-row {
    flex-direction: column;
  }
  .one-third.flex-column {
    flex-direction: row;
    width: 100%;
  }

  .row.option-box {
    width: 50%;
  }

  .ticker-row {
    width: 100%;
  }

  #plot-box {
    width: 100%;
  }
}
